body {
  background-color: aquamarine;
}
form {
  background: palevioletred;
}
div {
  margin: 10px;
}
label, p {
  color: antiquewhite;
}
h1 {
  color: blueviolet;
  font-style: italic;
}
button {
  background-color: darkslategray; 
  color:goldenrod;
}
.mylabel {
  color: black;
}

